
.animal-frame{
  height: 46vh;
  max-height: 900px;
}

.height-top{
  height: 15vh;
}
.landscape-frame{
  background-image: url('assets/landscape.jpg');
  background-size: cover;
  height: 100vh;
}
.duck-img{
  max-height: 160px;
  max-width: 140px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10%;
}
#pow{
max-height: 75px;
margin-top: 10%;
}
.hide-element{
  display: none;
}